name: test
on:
  push:
  schedule:
    - cron: '0 0 * * *'
jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      -
        name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17
      -
        name: Test
        run: go test ./...
